*{
    font-family: 'Mulish', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 450px;
    padding: 22px;
    background-color: rgb(21, 22, 28);
    text-align: center;
    margin-left: 38%;
    margin-top: 15%;
    color: #fff;
    border-radius: 0.75rem;
}
img{
    width: 20%;
}
button{
    width: 130px;
    height: 38px;
    background-color: rgb(249, 179, 48);
    border: none;
    outline: none;
    font-weight: 600;
    font-size: 19px;
    border-radius: 4px;
    margin-top: 4%;
    
}